.invisible{
    display: none;
}

.visible{
    display: block;
    background-color: color(1, 1, 1, 1);
    width: 500px;
    height: 500px;
}

select{
    width: 500px;
}

@media only screen and (max-width: 1000px) {
    .visible{
        width:100%;
        height:100%;
    }
  }